body{
    background-image: url(img/background/brickwall_@2X.png);
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.radi-back{
  background: red;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: -o-linear-gradient(bottom right, red, yellow);
  background: -moz-linear-gradient(bottom right, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
}
.header{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px 0 15px 0;
    text-align: center;
    background: #FFAE09;
    color: #fff;
}
.search{
    color: white;
    padding: 20px 0px;
}
.amount{
    text-align: center;
}
#searchhere{
    text-align: center;
    transition: 0.5s; 
}
#chooseamount{
    color: #000;
}
#search{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 200%;
    border-radius: 5px;
    color: #000;
    text-align: center;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.lines{
    background: #ccc;
    height: 1px;
    margin: 2% 0px;
}
label{
    text-align: left;
    font-size: 20px;
}
.recipe{
    padding-bottom: 20px;
    background: #fff;
}
.recipe-divs h4{
    font-size: 25px;
}
.recipe-divs p{
    font-size: 18px;
}
footer{
    text-align: center;
    color: #fff;
    padding: 10px;
}
@media screen and (min-width: 550px) {
    label{
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
}
