h1{
    text-align: center;
}
input{
    margin: 3% 0px;
    font-size: 200%;
}
#search{
    font-size: 110%;
    
}
.lines{
    background: #ccc;
    height: 1px;
    margin: 2% 0px;
}
label{
    text-align: left;
}

@media screen and (min-width: 768px) {

	}
}

@media screen and (min-width: 992px) {

	}
}.amount{
    text-align: center;
}
footer{
    text-align: center;
}
